div
    p#problem #{context.problem}
input#answer(type="text")
button#start_ajax 답 제출

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js")
script(src='/javascripts/measurement_submit.js', type='text/javascript')
